{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - About
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'cv_builder_app:index' %}">
            <img src="https://img.icons8.com/fluency-systems-filled/48/000000/user.png" alt="CV Builder icon" width="30" height="24" class="d-inline-block align-text-top">
            CV Builder
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-6">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'cv_builder_app:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" href="{% url 'cv_builder_app:about' %}">About</a>
                </li>
            </ul>
            <hr class="d-md-none text-dark">
            <ul class="navbar-nav col-6 justify-content-end">
                <li>
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-secondary me-2" role="button" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="btn btn-outline-primary me-2" role="button" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row align-items-lg-center">
        <div class="col-md-6 order-md-2 col-lg-7 mb-5 text-md-start">
            <h1 class="h3 mb-3 fw-bold">About CV Builder</h1>
            <div class="text-justify">
                <p>
                    CV Builder is a a web application that allows users to enter their professional information and have them exported as a professional resume/CV.
                </p><p>
                    It is an open source project dedicated to motivate and help people update their CV/resumes as it provides a better alternative to online CV makers. 
                </p><p>
                    Created by <a href="https://www.ahmadelhajj.me/" class="fw-bold text-decoration-none" target="_blank">
                        Ahmad El Hajj <i class="bi bi-box-arrow-up-right"></i> </a>as an example project to learn web development, the app is written using 'Django' web framework and 'Bootstrap' CSS framework. 
                </p>    
            </div>
            <a role="button" class="btn btn-primary p-2" href="https://github.com/ahmdhjj92/cv-builder" target="_blank"><i class="bi bi-github"></i>&nbsp;View Source Code</a>
        </div>
        <div class="col-8 mx-auto col-md-6 order-md-1 col-lg-5 d-none d-md-block">
            <img src="{% static 'cv_builder_app/undraw_Updated_resume_re_q1or.svg' %}" alt="A person standing in front of a presentation with their resume" class="img-fluid mb-3 mb-md-0"/>
        </div>
    </div>    
</div>
{% endblock %}