{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-3 d-lg-none">Build a professional CV with 3 easy steps</h1>
    <div class="row align-items-lg-center">
        <div class="col-md-6 order-md-2 col-lg-5 pt-3">
            <img src="{% static 'cv_builder_app/undraw_Project_completed_re_pqqq.svg' %}" alt="A person standing showing three completed tasks" class="img-fluid mb-3 mb-md-0"/>
        </div>
        <div class="col-md-6 order-md-1 col-lg-7 text-md-start">
            <h1 class="mb-3 d-none d-lg-block">Build a professional CV with 3 easy steps</h1>
            <ul class="lead list-unstyled">
                <ul class="py-3">
                    <li>
                        Create a CV according to your experience.
                    </li>
                    <li>
                        Choose a template or customize it as you wish.
                    </li>
                    <li>
                        Print, Export or Save it for future updates.
                    </li>
                </ul>
            </ul>
            {% if not user.is_authenticated %}
                <div class="d-grid d-lg-block mt-lg-3 mx-lg-3">
                    <a href="{% url 'register' %}" class="btn btn-lg btn-primary mb-3 me-md-3" role="button">Get Started</a>
                </div>
            {% else %}
                <div class="d-grid d-lg-block mt-lg-3 mx-lg-3">
                    <a href="#" class="btn btn-lg btn-success mb-3 me-md-3" role="button">Start Building    </a>
                </div>
            {% endif %}
        </div>
    </div>    
</div>
{% endblock %}