{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Contact Info
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                <div class="col-6 my-2">
                    <div class="form-floating">
                        <input type="text" name="{{field.label}}" class="form-control" id="floatingInput" placeholder="{{field.label}}">
                        <label for="floatingInput">{{field.label}}</label>
                    </div>                        
                </div>
            {% endfor %}
            </div>
            <button class="justify-content-start btn btn-primary" type="submit">Next: Work Experience</button>
        </form>    
    </div>                     
</div>
{% endblock %}