{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Contact Info
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-bold text-center">Header Section</h1>
            <div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-6 my-2">
                            <div class="form-floating">
                                <input type="text" name="{{field.name}}" value= "{{request.user.name}}" class="form-control 
                                {% if field.errors %}
                                    is-invalid
                                {% endif %}
                                " id="floatingInput" placeholder="{{field.label}}">
                                <div class="invalid-feedback">
                                    {{field.errors}}
                                </div>
                                <label for="floatingInput">
                                        {{field.label}}
                                        {% if field.field.required %}
                                            *
                                        {% endif %}
                                </label>
                                <div class="col-auto">
                                    {% if field.field.required and not form.errors %}
                                        <span id="passwordHelpInline" class="form-text">
                                        {{field.label}} is required.
                                        </span>
                                    {% endif %}
                                  </div>
                                
                            </div>                        
                        </div>
                    {% endfor %}
                </div>
                <button class="justify-content-start btn btn-primary" type="submit">Next: Professional Summary</button>
            </div>
        </form>    
    </div>                     
</div>
{% endblock %}