{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Header Info
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-bold text-center">Header Section</h1>
            <div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-lg-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="{{field.name}}" value="{% if field.value != None %}{{field.value}}{% endif %}" class="my-2 form-control 
                                {% if field.errors %}
                                    is-invalid
                                {% endif %}
                                " id="floatingInput">
                                <div class="invalid-feedback">
                                    {{field.errors}}
                                </div>
                                <label for="floatingInput">
                                        {{field.label}}
                                        {% if field.field.required %}
                                            <span class="text-danger">*</span>
                                        {% endif %}
                                </label>                                
                            </div>                        
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-end mt-2 px-3">
                    <button class="col-lg-4 col-12 btn-lg btn-primary" type="submit">Next: Professional Summary</button>
                </div>
            </div>
        </form>    
    </div>                     
</div>
{% endblock %}