{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
CV Builder - Login
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-5">
    <div class="row align-items-lg-center">
        <div class="col-md-6 order-md-1 col-lg-5 text-center">
            {% if user.is_authenticated%}
                <h1 class="h3 mb-3 fw-bold">You are already logged in</h1>
                <div class="row">
                    <a class="col-5 btn btn-outline-dark" href="{% url 'cv_builder_app:index' %}">Back to Home</a>
                    <h1 class="col-2 h4 fw-light text-center pt-1"> or </h1>
                    <a class="col-5 btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a>                   
                </div>
            {% else %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-bold">Log in to CV Builder</h1>
                    {% if form.errors %}
                            <p class=" fw-bold alert alert-danger">Your email address and password didn't match. Please try again.</p>
                    {% endif %} 
                    <div class="form-floating mt-3 mb-1">
                    <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Email address">
                    <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mt-1 mb-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    </div>
                
                    <div class="checkbox my-3">
                    <label>
                        <input type="checkbox" value="remember-me"> &nbsp;Remember me
                    </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Log in</button>
                    <div class="row order-md-3 mb-3 pt-3">
                        <small class="col-6 text-muted">
                            <a class="ml-2 text-decoration-none" href="{% url 'register' %}">Don't Have An Account? </a>
                        </small>
                        <small class="col-6 text-muted">
                            <a class="ml-2 text-decoration-none" href="#">Forgot Password?</a>
                        </small>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-8 mx-auto col-md-6 order-md-2 col-lg-7 d-none d-md-block">
            <img src="{% static 'users/undraw_Portfolio_update_re_jqnp.svg' %}" alt="A person standing in front of a presentation with their resume" class="img-fluid mb-3 mb-md-0"/>
        </div>
    </div>    
</div>
{% endblock %}