{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Register
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row align-items-lg-center">
        <div class="col-md-6 order-md-2 col-lg-6">
            {% if user.is_authenticated%}
                <h1 class="h3 mb-3 fw-bold text-center">You are currently logged in</h1>
                <div class="row">
                    <a class="col-5 btn btn-outline-dark" href="{% url 'cv_builder_app:index' %}">Back to Home</a>
                    <h1 class="col-2 h4 fw-light text-center pt-1"> or </h1>
                    <a class="col-5 btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a>                   
                </div>
            {% else %}
                <form method="POST">
                    
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-bold text-center">Register to CV Builder</h1>
                    <div>
                        {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %} 
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" name="first_name" class="form-control" id="floatingInput" placeholder="First Name">
                                <label for="floatingInput">First Name</label>
                            </div>                        
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" name="last_name" class="form-control" id="floatingInput" placeholder="Last Name">
                                <label for="floatingInput">Last Name</label>
                            </div>                        
                        </div>
                    </div>
                    <div class="form-floating mt-2 mb-2">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email Address">
                        <label for="floatingInput">Email Address</label>
                    </div>
                    <div class="form-floating mt-2 mb-2">
                        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="password" name="password2" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                                <label for="floatingPassword">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                    <div class="order-md-3 mb-3 pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2 text-decoration-none" href="{% url 'login' %}">Log In</a>
                        </small>
                    </div>
                </form>
            {% endif %}
        </div>

        <div class="col-8 mx-auto col-md-6 order-md-1 col-lg-6 d-none d-md-block">
            <img src="{% static 'users/undraw_interview_rmcf.svg' %}" alt="A work interview where both parties shake hands" class="img-fluid mb-3 mb-md-0"/>
        </div>
    </div>    
</div>
{% endblock %}