{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Contact Info
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-bold text-center">Professional Summary</h1>
            <div class="mb-3">
                <textarea class="form-control" name="professional_summary" placeholder="Here you should explain what you’re great at and most interested in professionally." rows="6"></textarea>
            </div>
            <div class="row justify-content-end">
                <button class="col-3 btn-lg btn-primary" type="submit">Next: Work Experience</button>
            </div>
        </form>    
    </div>                     
</div>
{% endblock %}