{% extends "cv_builder_app/layout.html" %}
{% load static %}
{% block title %}
    CV Builder - Work Experience
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="post">
    <h1 class="h3 mb-3 fw-bold text-center">Work Experience</h1>
    <div class="row">
        <div class="col-12">
            <h1 class="h4 my-3 text-center">Add a new entry</h1>
                {{ formset.management_form }}
                {% for form in formset %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" name="institution" class="form-control" id="floatingInput" placeholder="Institution">
                                <strong class="text-danger">{{form.institution.errors}}</strong>
                                <label for="floatingInput">Institution</label>
                            </div>
                        </div>                       
                        <div class="col-12 mt-3 mb-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
                                <label class="form-check-label">This is my current position</label>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-2 mb-2">
                            <div class="form-floating">
                                <input type="date" name="starting_date" class="form-control" id="floatingInput" placeholder="Starting Date">
                                <strong class="text-danger">{{form.starting_date.errors}}</strong>
                                <label for="floatingInput">Starting Date</label>
                            </div>                        
                        </div>
                        <div class="col-6 mt-2 mb-2" id="enddatecheck">
                            <div class="form-floating">
                                <input type="date" name="end_date" class="form-control" id="floatingInput" placeholder="End Date">
                                <strong class="text-danger">{{form.end_date.errors}}</strong>
                                <label for="floatingInput">End Date</label>
                            </div>                        
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'users:summary' %}">
                <button class="col-12 col-xl-8 col-md-8 my-2 btn-lg btn-primary" type="button">Back: Professional Summary</button>
            </a>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-end">
            <button class="col-12 col-xl-8 col-md-8 my-2 btn-lg btn-primary" type="submit">Next: Projects</button>
        </div>
    </div>
    </form>    
</div>
{% endblock %}